!!! Strict
%html{html_attrs}
  %head
    %title Ticketer
    %meta{:http_equiv => 'Content-Type', :content => 'text/html; charset=windows-1255'}
  %body{:style => 'font-family: monospace'}
    %h1 Apartments !
    = yield
